.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: var(--dark-blue);
    box-shadow: 0 2px 2px 0 var(--dark-blue);
    transition: all 1s ease;
}

.nav__logo {
    font-weight: 600;
    font-size: 1.3rem;
}

.nav__switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.nav__switch__button {
    background: none;
    border: none;
    outline: none;
    font-weight: 600;
}

.nav__switch__icon:hover,
.nav__switch__button:hover {
    cursor: pointer;
}

@media screen and (max-width: 56rem) {
    nav.nav {
        padding: 1rem 1rem;
    }
}